<h4>Interior</h4>
<div class="form-action">
    <a class="button button--primary" href="/paint/c2-luxe-paint/?sku=LUXE-{{product.upc}}">Buy in LUXE</a>
</div>
<div class="form-action">
    <a class="button button--primary" href="/paint/c2-studio-paint/?sku=STUDIO-{{product.upc}}">Buy in Studio</a>
</div>

<h4>Exterior</h4>
<div class="form-action">
    <a class="button button--primary" href="/paint/c2-exterior-paint/?sku=EXT-{{product.upc}}">Buy in Exterior</a>
</div>
<div class="form-action">
    <a class="button button--primary" href="/paint/c2-stain/?sku=STAIN-{{product.upc}}">Buy Stain</a>
</div>
